ul{
    list-style-type: none;
    background-color: magenta;
    width: fit-content;
    text-align: left;
    padding: 0;
    margin: 0;
    position: absolute;
    border: 1px solid lime;
}

li{
    padding: 5px;
}


li:hover{
    background-color: aqua;
}