.menu{
  width: fit-content;
  text-align: left;
  position: absolute;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

ul{
  position: static;
  display: block;
}

li{
  cursor: pointer;
}

.dropdown-divider{
  cursor: default;
}
