<div class="dropdown menu" [ngStyle]="{'left.px': x, 'top.px': y}">
  <ul class="dropdown-menu" >
    <li class="dropdown-item" (click)="openFolder($event)">Open</li>
    <li class="dropdown-item" (click)="downloadSelection()">Download</li>
    <li class="dropdown-item" (click)="createNewFolder($event)">Create new folder</li>
    <li class="dropdown-item">Upload file</li>
    <li class="dropdown-item" (click)="rename($event)">Rename</li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item" (click)="deleteFolder($event)">Delete</li>
  </ul>
</div>
