<div
class="file"
(dblclick)="onDoubleClick($event)"
(click)="onClick($event)"
(contextmenu)="onRightClick($event)">
    <div class="row">
        <div class="col-12">
            <img
            *ngIf="file.fileType.includes('image')"
            [hidden]="!isThumbnailLoaded"
            (load)="thumbnailLoaded()"
            [src]="'http://192.168.1.75:8080/api/thumbnail/' + file.id" alt="">

          <fa-icon *ngIf="!isThumbnailLoaded" [icon]="faFile" [size]="'7x'"></fa-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-12 name">
            <span>{{file.displayName}}</span>
            <span *ngIf="file.extension">.{{file.extension}}</span>
        </div>
    </div>
</div>
