<div
class="file"
(dblclick)="onDoubleClick($event)"
(contextmenu)="onRightClick($event)">
    <div class="row">
        <div class="col-12 image-box">
            <img
              draggable="false"
            *ngIf="shouldHaveThumbnail()"
            [hidden]="!isThumbnailLoaded"
            (load)="thumbnailLoaded()"
            (error)="loadError($event)"
            [src]="thumbnailUrl" alt="">

          <fa-icon *ngIf="!isThumbnailLoaded" [icon]="faFile" [size]="'7x'"></fa-icon>
          <div class="playable-icon" *ngIf="isVideoType()">
            <fa-icon class="circle-play-icon" (click)="onClick($event)" *ngIf="!isPlayable()" [icon]="faFilm" [size]="'5x'"></fa-icon>
            <fa-icon class="circle-play-icon" (click)="onClick($event)" *ngIf="isPlayable()" [icon]="faPlay" [size]="'5x'"></fa-icon>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 name">
            <span [title]="file.extension? file.displayName + '.' + file.extension : file.displayName">{{file.displayName}}</span>
            <span *ngIf="file.extension">.{{file.extension}}</span>
        </div>
    </div>
</div>
