.grid-container{
    display: grid;
}

a{
    text-decoration: none;
    color: black;
}

.resource{
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}


div{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.selected{
    background-color: lightblue;

}

.folder{
    overflow-y: auto;
    height: 90vh;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

